#mi{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #CF1F21;
    display: inline;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 50px;
}
#hlth{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 50px;
    color: #8ECB26;
    display: inline;
    font-size: 50px;
}
.opts{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    float: right;
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
    color: black;
    text-decoration: none;
    margin-top: 17px;
}
#mainstuff{
    width: 30%;
    min-width: 358px;
    height: 100vh;
    background-image: url("p6.png");
    padding-top: 1px;
}
#bh{
    margin-left: 75px;
    margin-top: 75px;
    margin-right: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 75px;
    word-spacing: -2px;
}
.par{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-left: 75px;
    margin-right: 50px;
}
#menuclk{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-left: 75px;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 35px;
    display: inline;
    color: black;
    text-decoration: none;
}
.imig{
    width: 300px;
    height: auto;
    display: inline;
    margin-top: 50px;
    margin-left: 5px;
}
#topbar{
    min-width: 725px;
}
#images{
    width: 100%;
    min-width: 358px;
    height: 100vh;
    background-image: url("p6.png");
    padding-top: 1px;
}
#contain{
    display: flex;
}
